
.row {
  display: flex;
  background-color: #4b90e7;
    
  
}

/* Create three equal columns that sits next to each other */


.column {
  flex: 50%;
  padding: 5px;
}

footer {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    background-color: #d3d3d3fd;
    
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}
